#root {
  max-width: 1280px;
  padding: 2rem;
}

.time {
  margin: 0 auto;
  font-size: 4rem;
  text-align: center;
}

.buttons {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 10px;
  justify-content: center;
  align-items: center;
}
