#root {
  max-width: 1280px;
  padding: 2rem;
}

.time {
  margin: 0 auto;
  font-size: 4rem;
  text-align: center;
}

.buttons {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.lapsContainer {
  margin: 3rem auto 1rem;
  width: 100%;
  max-width: 300px;
}

.lapsRow {
  padding: 0.5rem;
  border: 1px solid rgb(73, 73, 73);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
